{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}




    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
              {% if app.request.query.get('added') %}
                             <div class="alert alert-success" role="alert">
                                 Le produit a été ajouté au panier
                             </div>
               {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>Gunpala Rebels</h4>
                                <div class="main-border-button">
                                </div>
                            </div>
                            <img src="assets/images/left-banner-image.jpeg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <section class="section" id="explore">
                          <div class="container">
                              <div class="row">
                                  <div class="col-lg-6">
                                      <div class="right-content">
                                          <b><span>Gunpla rebels la reference du Gunpla</span></b>
                                          <div class="quote">
                                              <i class="fa fa-quote-left"></i>
                                          </div>
                                          <p>Bienvenue sur Gunpla rebels, votre destination ultime pour tous vos besoins en Gunpla. Nous sommes passionnés par l'univers Gundam et nous nous efforçons de vous offrir la meilleure expérience de magasinage en ligne pour les amateurs de Gunpla.</p>
                                          <p>Notre site propose une vaste sélection de kits Gunpla de haute qualité. Vous trouverez chez Gunpla Rebels tout ce dont vous avez besoin pour donner vie à votre Gundam préféré.</p>
                                      </div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div class="right-content">
                                          <div class="row">
                                              <div class="col-lg-6">
                                                  <div class="first-image">
                                                      <img src="assets/images/explore-image-01.jpg" alt="">
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="second-image">
                                                      <img src="assets/images/explore-image-02.png" alt="">
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </section>
    <!-- ***** Explore Area Ends ***** -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    {% for category in categories %}

    <!-- ***** category Area Starts ***** -->
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>{{ category.name}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                         {% for product in category.getProducts() %}
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href={{ path('cart_add', {id: product.id}) }}><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img class="product_img" src="{{ product.img }}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>{{ product.name }}</h4>
                                    <p>{{ product.description|slice(0, 70)}}</p>
                                    <span>{{ product.price |number_format(2, ',', '.')}} €</span>
                                
                                </div>
                            </div>
                             {% endfor %}
                        </div>
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    <!-- ***** category Area Ends ***** -->

   {% endfor %}

    
    
{% endblock %}
