{% extends 'base.html.twig' %}

{% block title %}order{% endblock %}

{% block body %}

<div class="global_order_container"></div>
<h1 class="page-title">Ma commande<h1>
<div class="order_container">

  <div class="order_form">
   {{ form_start(form) }}
   <p>Choisissez votre adresse de livraison</p>
   
   {{ form_end(form) }}
  </div>
  
  <div class="order_recap">
  <p>récapitulatif de votre commande : {{ recapCart|length }} produits</p>

  {% set total = null %}

  {% for product in recapCart %}
   {% set total = total + (product.product.price * product.quantity) %}
    <div class="cart_product_flex">
               <img  src="{{ product.product.img }}" alt="product_image">
               <div class="cart_product_container">
                  <h3>{{ product.product.name }}<h3>
                  <p>{{ product.product.price |number_format(2, ',', '.') }} €</p>
                   <p> quantité : x{{ product.quantity }} </p>
              </div>
    </div>

  {% endfor %}
   <div class="cart_total">Total : {{ total |number_format(2, ',', '.') }} €</div>
    <button type="button" class="btn btn-success"><a href={{ path('app_home') }}>Paiement</a></button>
  </div>
</div>
{% endblock %}
